*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width:100%;
  height:100vh;
  font-family: 'Courier New', Courier, monospace;
}



.parallax {
    /* The image used */
    background-image: url("images/bg12.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo{
    font-size: 60px;
    color:greenyellow;
  }
  .logoColor {
    color: #006699 !important;
  }
  /* .bg-gradient {
    background-image: linear-gradient(to bottom right, #006699, #1b1b1b);
   } */

  .websiteLogo {
    width: 20%;
    height: 20%;
   }
  .c2{
   background-color: rgb(39, 39, 101);

   text-align: center;
   color:grey;
      

  }
 
 .container{
  background-color: black;
  color:grey;
  
 }
 #one{
  display: flex;
  justify-content: center;
 }
 /* .container > .row{
  padding-top: 100px;
 } */
 

.p1 > img {
  height: 21.87rem;
}


.c1{
    background-color: grey;
    color:white;
    height: 200px;
    text-align: center;
}

@media (max-width:995px){
  .p1 img{
    width:18rem;
   }
  .paragraph{
   font-size: 1rem;
   line-height: 1rem;
   clear:both
  }
 
 
 
 }
@media (max-width:690px){
 .p1 img{
  width:18rem;
 }
 .paragraph{
  font-size: 0.8rem;
  line-height: 0.8rem;
  clear:both
 }
 #one{
  display: block;
 }


}
@media (max-width:690px){
  .p1 img{
   width:18rem;
  }
  .paragraph{

   font-size: 0.8rem;
   line-height: 0.8rem;
   clear:both
  }
  #one{
   display: block;
  }
  .woo{
    text-align: center;
  }
}
  @media (max-width:455px){
    .p1 img{
     width:18rem;
    }
    .paragraph{
  
     font-size: 0.6rem;
     line-height: 0.6rem;
     clear:both
    }
    #one{
     display: block;
    }
    .woo{
      text-align: center;
    }
 
 
 }