*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: transparent;
}
section{
    background-color: black;
    
}
.col-4{
    padding-top: 50px;
}
.logoColor {
    color: #006699 !important;
}


.websiteLogo {
    width: 20%;
    height: 20%;
}
/*.c1 > h2 {
    padding-top: 50px;
}
.c1 > hr {
    width: 15%;
    margin-left: 510px;
   margin-bottom: 200px;
   background-color: blueviolet;
    height: 3px;
    border: 0;
} */
.p-3{
    float:left;
    background-color: white;
    border: 2px solid black;
    height: 800px;
    line-height: 15px;

    
}
#b1{
    background-color: silver;
    color:pink;
}
#b2{
    background-color:goldenrod;
    color:pink;
}
#b3{
    background-color: palevioletred;
    color:pink;
}
.p-3 > h5 {
    color:black;
}
.p-3 > h5 > b {
    color:green;
}


p{
    line-height:auto;
    color: pink;
}


