*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100%;
    padding: 0px;
    margin:0px;
    font-family: 'Courier New', Courier, monospace;
}
.logoColor {
    color: #006699 !important;
}




#d3 > .row > .col-4 > img{
    border-radius: 100%;
    color:white;
    text-align: center;
    
    
   
}
#d3 {
  background-color: black;
  color:white;
  text-align: center;
  height:400px;
}
#d3 >.row{
 padding-top: 50px;
}
/* .container8{
    background-color: grey;
    color: white;
    text-align: center;
    height: 200px;
    padding: auto;

}
.container8 > hr {
    width: 22%;
    margin-left: 470px;
    background-color: blueviolet;
    height: 2px;
    border:0;


}
.container8 h2{
    padding-top: 68px;
} */





#c3{
    /* display:flex; */
    /* justify-content: center; */
    background-color: black;
    color:white;
    
}


  #c3 >.col-xs-12{
    text-align: center;
  }
#c3 > .row > .col-3 > h1{
    color: blueviolet;
}

/* .container2{
    text-align: center;
    background-color: gray;
    height: 200px;
    color:white;
}
.container2 > hr {
    width: 25%;
    background-color: blueviolet;
    height: 3px;
    margin-left: 450px;
    border: 0;
}
.container2 > h2{
    padding-top: 70px;
} */
/* Slideshow container */
/* .slideshow-container {
  max-width: 100px;
  position: relative;
  margin: auto;
} */

/* Hide the images by default */
/* .mySlides {
  display: none;
} */
/* Fading animation */
/* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } */


.c3 {
    background-color:blueviolet;
    height: 60px;
    color:white;
}

.c3 > a{
    text-decoration: none;
    /* float: right; */
    color: white;
}